body{
    background-image: url(https://p1.pxfuel.com/preview/77/328/33/stones-white-white-stones-nature.jpg);
    background-size: cover;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 1em;
}
.img-thumbnail{
  animation: img-thumbnail 3s;
}

@keyframes img-thumbnail {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
.p-3, h1 {
  background-image: url(https://previews.123rf.com/images/siraphol/siraphol1608/siraphol160805951/61417084-white-stone-wall-textures-for-background.jpg);
}

.nav-link {
  font-weight: bold;
}